.app{
    font-family: 'Comfortaa';
}

.app-section{
    padding: 30px;
  }
  
.app-container{
    max-width: 800px;
    margin-left:  auto;
    margin-right: auto;
  }
  
.app-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
.app-search{
    margin-bottom: 15px;
}
.app-search-input{
    width: 100%;
    padding: 8px;
    font-size: 16 px;
    box-sizing: border-box;
    border: 1px solid gray;
}
.logout{
    text-align: right;
    padding-top: 1%;
    padding-right: 5%;
}

.logout-button,
.logout-button:hover,
.logout-button:focus{
        color: #530b69;
        background: white;
        font-weight: bold;
 }

.back-party{
    text-align: left;
    padding-top: 1%;
    padding-left: 5%;
}
.back-party-button,
.back-party-button:hover,
.back-party-button:focus{
    color: black;
    background: #D7D7D8;
    font-weight: bold;
 }

 .create-party{
    text-align: left;
    padding-top: 1%;
    padding-left: 5%;
}

.create-party-button,
.create-party-button:hover,
.create-party-button:focus{
    color: black;
    background: #ffa500;
    font-weight: bold;
 }
.all-party{
    text-align: 'center';
    margin-top: '1%';
}
.my-party-logo{
    width: 15%;
    height: 15%;
  }

  @media only screen and (max-width: 414px){
    .my-party-logo {
      width:50%;
      text-align: 'center';
    }
  }